<div class="pane">
   

        <!-- NAME -->
        <div class="form-group" ng-class="{ 'has-error' : userForm.ssn.$invalid && !userForm.ssn.$pristine }">
            <label>Employee SSN</label>
            <input type="text" name="ssn" class="form-control" ng-model="user.ssn" required>
            <p ng-show="userForm.ssn.$invalid && !userForm.ssn.$pristine" class="help-block">You name is required.</p>
        </div>
        
        <!-- USERNAME -->
        <div class="form-group" ng-class="{ 'has-error' : userForm.phone.$invalid && !userForm.phone.$pristine }">
            <label>Employee Phone</label>
            <input type="text" name="phone" class="form-control" ng-model="user.phone" ng-minlength="3" ng-maxlength="8">
            <p ng-show="userForm.username.$error.minlength" class="help-block">Username is too short.</p>
            <p ng-show="userForm.username.$error.maxlength" class="help-block">Username is too long.</p>
        </div>
            
        <!-- EMAIL -->
        <div class="form-group" ng-class="{ 'has-error' : userForm.pan.$invalid && !userForm.pan.$pristine }">
            <label>Employee Check</label>
            <input type="text" name="email" class="form-control" ng-model="user.pan">
            <p ng-show="userForm.pan.$invalid && !userForm.pan.$pristine" class="help-block">Enter a valid email.</p>
        </div>
        
        
 
  

</div>